html, body, .app-root, .app, .home-page {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

input:active, input:focus {
    outline: none;
    outline-color: transparent;
}

.home-page{
    display: flex;
    flex-direction: column;
}

.content-body {
    background-color: #fafafa;
    flex: 1;
}

.nav-left {
    padding: 0.5rem 0.75rem;
}

.nav-right .nav-item {
    line-height: 44px;
}

.definition .card-content {
    min-height: 208px;
}

.definition-box {
    min-height: 480px;
}